---
Checks: 'bugprone-*,modernize-*,performance-*,readability-*,cppcoreguidelines-*,-modernize-use-trailing-return-type,-readability-magic-numbers,-cppcoreguidelines-avoid-magic-numbers,-readability-identifier-length,-bugprone-easily-swappable-parameters,-cppcoreguidelines-pro-bounds-constant-array-index,-cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,-modernize-use-designated-initializers,-cppcoreguidelines-pro-type-vararg,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-bugprone-unchecked-string-to-number-conversion'
WarningsAsErrors: ''
